$base-heading-font-family:                       $sans-serif;
$base-body-font-family:                          $sans-serif;
$base-body-font-size:                            22px !default;
$base-body-line-height:                          34px !default;
$base-link-color:                                $blue !default;
$base-body-color:                                $black !default;
