// Visionary own styles
// ========================================================================
@media (min-width: $breakpoint-medium) {
  body{
    border:20px solid $white;
  }
}
@media (max-width: $breakpoint-small-max) {
  body{
    border:10px solid $white;
  }
  .uk-grid>*{padding-bottom: 20px;}
}
//blocks custom
.block-diagonal {
  //clip-path: polygon(0px 100%,100% 100%,100% 20px,0 380px);
  @include clip-path(polygon(0px 100%,100% 100%,100% 20px,0 380px));
  padding-top: 380px;
}
.off-bottom{
  margin-bottom: -50px;
}
@media (min-width: $breakpoint-medium) {
  .off-bottom{
    margin-bottom: -150px;
  }
}
.off-top{margin-top: -300px;}
//wrappers depth
.depth-2{
  position:relative;
  z-index:1;
}
.depth-1{
  position:relative;
  z-index:0;
}
.depth-0{
  position:relative;
  z-index:-1;
}
// wrappers hero
.hero{
  &.hero-homepage{
    position: relative;
    .hero-homepage-wrapper{
      display: block;
      position: absolute;
      top:0;
      overflow: hidden;
      width:100%;
      height: 100%;
      background: url('../images/bg-home.jpg') no-repeat;
      background-size: cover;
      video {
        display:none;
        vertical-align: baseline;
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s opacity;
      }
    }
  }
}
@media (min-width: $breakpoint-medium) {
  .hero{
    min-height: 400px;
    &.hero-homepage{
      min-height: 600px;
      .uk-position-cover{top:150px;}
      .hero-homepage-wrapper{
        min-height: 600px;
        video {
          display: block;
        }
      }
    }

  }
}
@media (max-width: $breakpoint-small-max) {
  .hero-homepage{
    .uk-position-cover{margin-left:20px;margin-right:20px;}
  }
}
//tone of voice
.yell{
  font-size: 22px;
  line-height: 34px;
  font-weight: 200;
}
.whisper{
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}
// list timeline
.list-timeline{
  counter-reset: item;
  list-style: none;
  margin:0;
  padding: 0;
  display: block;
  position: relative;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  font-size: 1em;
  > li{
    margin: 0 0 -1px 20px;
    counter-increment: item;
    display: block!important;
    position: relative;
    border-left:2px solid $white;
    padding:0 0 10px 25px;
    &:before{
      width: 2em;
      height: 1.8em;
      text-align: center;
      display: block;
      position: absolute;
      background-color: $white;
      border-radius: 100%;
      content: counter(item);
      color: $black;
      padding-top: 0.25em;
      left:-15px;
    }
    &:last-child{
      border-left:none;
    }
    &.yell{
      padding-left:35px;
      &:before{left:-23px;}
    }
  }
}


//guide > box
.box-guide{
  border-top:20px solid $white;
}
.box-guide-menu{
  padding:$panel-box-padding/2;
  background-color:$blue;
}
.box-guide-content{
  padding:$panel-box-padding;
  background: $white;
  //margin-right: -1px;
}
.box-guide-menu-wrapper{
  padding:$panel-box-padding/2;
  background-color:$blue;
}
@media (min-width: $breakpoint-medium) {
  .box-guide{background-image: linear-gradient(0deg, #0099F3 0%, #0079C1 100%)!important;}
  .box-guide-menu{background-color:transparent;padding:$panel-box-padding;}
}
.utility1{margin-left:-35px;width:94%!important;}
// Definition Lists
dl{
  background-color: rgba(0,0,0,.05);

  > dt{
    padding: 10px 10px 0;
    > h3{margin-bottom: 0;}
  }
  > dd{
    padding: 0 10px 5px 10px;
    border-bottom: 5px solid $white;
  }
}
// misc
.negative{
  color:$white;
  h1,h2,h3,h4,h5,h6,p{color:$white;}
  &a{color:$white;text-decoration: underline;}
}
.positive{
  color:$gray;
  h1,h2,h3,h4,h5,h6{color:$black!important;}
  p,blockquote{color:$gray!important;}
}
.lettrine{
  display: block;
  position: relative;
  &:before{
    content: attr(data-lettrine);
    color:rgba(0,0,0,.05);
    font-weight: bold;
    font-size: 200px;
    display: block;
    position: absolute;
    top:0px;
    left:-50px;
  }
}
.uk-close-offcanvas{
  position: absolute;
  right:10px;
  top:10px;
  color: $white;
  z-index: 1;
}
.uk-navbar-toggle{color: $white;}
.uk-shadow-remove{box-shadow: none!important;}
// UIKIT customisation
// ========================================================================
// base
h1, .uk-h1 {
  letter-spacing: 0.82px;
  margin-bottom: 20px;
}
h2, .uk-h2 {
  letter-spacing: 0.82px;
  font-weight: 300 !important;
  :before{
    border: 1px solid $black;
    width:100px;
  }
}
h3, .uk-h3 {
  text-transform: uppercase !important;
  font-weight: 500 !important;
  margin-bottom: 20px;
  letter-spacing: 0.82px;
}
h4, .uk-h4 {
  font-weight: 200 !important;
  margin-bottom: 20px;
  letter-spacing: 0;
  border-left:4px solid $blue;
  padding-left: 5px;
  color:$gray;
}
blockquote {
    border-left: none;
    font-family: $serif;
}
.uk-text-contrast {
  h1,h2,h3,h4,h5,h6{
    color:$white;
  }
  .lettrine{
    &:before{
      color:rgba(225,225,225,.2);
    }
  }
  &a{text-decoration: underline;}
}

//navbar
.uk-navbar {
    padding:20px;
}
.uk-navbar-nav > li > a {
    text-transform: uppercase;
    letter-spacing: 0.1px;
}
//panels
.uk-panel-box-primary {
    background-color: none!important;
    background-image: linear-gradient(-133deg, #0099F3 0%, #0079C1 100%)!important;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.18);
}
.uk-panel-box-secondary {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.18);
}
@media (min-width: $breakpoint-medium) {
  .uk-panel-box-large{
      padding:$panel-box-padding*3.5;
  }
}
@media (max-width: $breakpoint-small-max) {
  .uk-panel-space {
    padding: 0 0 30px 0;
  }
}
.uk-panel-box>.uk-nav-side {
    margin: 0 0;
}
// blocks
.uk-block {
    border-top:20px solid $white;
    &.uk-block-no-padding-bottom{padding-bottom: 0;}
}
@media (max-width: $breakpoint-small-max) {
  .uk-block {padding-left: 20px;padding-right: 20px;}
}
// nav side
.uk-text-contrast {
  .uk-nav-side {
    a{
      color:$white;
      &:hover{color:$black;}
    }
    .active{
      a{color:$black;}
    }
  }
}
.uk-nav-side{
  border:1px solid $white;
  border-radius:4px;
  >li{
    border-bottom:1px solid $white;
    text-transform: uppercase;
    padding: 12px;
    .active{}
    > a{
      color: $white;
      &:hover,&:focus{
        color: $black;
        background:none;
      }
    }
  }
  >li:last-child{border-bottom:none;}
  >li.uk-open{
    > a{
      background:none;
      color: $white;
      &:hover{
        color: $black;
      }
    }
  }
  .uk-nav-sub{
    li{
      text-transform: none;
    }
  }
}
// buttons
.uk-button {
    letter-spacing: 0.1px;
    border-radius:4px;
    text-transform: uppercase;
    font-weight: 500;
}
.uk-button-secondary {
    background-color: transparent;
    border:2px solid $blue;
    color: $blue;
    @include hook-button-primary();
}

/* Hover */
.uk-button-secondary:hover,
.uk-button-secondary:focus {
    border-color: darken($blue,10%);
    color: darken($blue,10%);
    @include hook-button-primary-hover();
}

/* Active */
.uk-button-secondary:active,
.uk-button-secondary.uk-active {
    background-color: $button-primary-active-background;
    color: $button-primary-active-color;
    @include hook-button-primary-active();
}
