// visionary variables
$white:                      #FFF;
$black:                      #222321;
$gray:                       #7A7B7A;
$grayLight:                  #EBEAEA;
$grayDark:                   #979797;
$blue:                       #0099F3;
$green:                      #B0C932;
$red:                        #D85322;
$orange:                     #F08C3B;

$gutter:                     40px;

$sans-serif:                 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif:                      Georgia, serif !default;

$primary-color:              $black;
$secondary-color:            $gray;
$border-color:               $primary-color;
$primary-blue:               $blue;
$primary-green:              $green;
$primary-violet:             $orange;
$primary-red:                $red;

// base variables
$base-heading-font-family:                       $sans-serif;
$base-body-font-family:                          $sans-serif;
$base-body-font-size:                            14px !default;
$base-body-line-height:                          21px !default;
$base-body-font-weight:                          400 !default;
$base-link-color:                                $blue !default;
$base-body-color:                                $gray !default;

$base-heading-font-family:                       $sans-serif;
$base-heading-font-weight:                       100 !default;
$base-heading-color:                             $black !default;
$base-heading-text-transform:                    none !default;
$base-heading-margin-top:                        20px !default;
$base-h1-font-size:                              46px !default;
$base-h1-line-height:                            52px !default;
$base-h2-font-size:                              28px !default;
$base-h2-line-height:                            39px !default;
$base-h3-font-size:                              16px !default;
$base-h3-line-height:                            24px !default;
$base-h4-font-size:                              16px !default;
$base-h4-line-height:                            22px !default;
$base-h5-font-size:                              14px !default;
$base-h5-line-height:                            20px !default;
$base-h6-font-size:                              12px !default;
$base-h6-line-height:                            18px !default;
//navbar variables
$navbar-background:                              $black !default;
$navbar-nav-height:                              40px !default;
$navbar-nav-line-height:                         $navbar-nav-height !default;
$navbar-nav-padding-horizontal:                  15px !default;
$navbar-nav-color:                               $white !default;
$navbar-nav-font-size:                           12px !default;
$navbar-nav-font-weight:                         700 !default;
$navbar-nav-font-family:                         $sans-serif;
$navbar-nav-hover-background:                    transparent !default;
$navbar-nav-hover-color:                         $gray !default;
$navbar-nav-onclick-background:                  transparent !default;
$navbar-nav-onclick-color:                       $gray !default;
$navbar-nav-active-background:                   transparent !default;
$navbar-nav-active-color:                        $blue !default;
//panel variables
$panel-box-padding:                              40px !default;
$panel-box-secondary-background:                 $white !default;

// additional mixins
@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
