$white:                      #FFF;
$black:                      #222321;
$gray:                       #7A7B7A;
$grayLight:                  #EBEAEA;
$grayDark:                   #979797;
$blue:                       #0099F3;
$green:                      #B0C932;
$red:                        #D85322;
$orange:                     #F08C3B;

$gutter:                     40px;

$sans-serif:                 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif:                      Georgia, serif !default;

$primary-color:              $black;
$secondary-color:            $gray;
$border-color:               $primary-color;
$primary-blue:               $blue;
$primary-green:              $green;
$primary-violet:             $orange;
$primary-red:                $red;
