
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_thin/Roboto-Thin-webfont.svg#robotothin') format('svg');
    src: url('../fonts/roboto_thin/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_thin/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/roboto_thin/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto_thin/Roboto-Thin-webfont.eot');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
    src: url('../fonts/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_light/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto_light/Roboto-Light-webfont.eot');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    src: url('../fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.eot');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto_bold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    src: url('../fonts/roboto_bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_bold/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto_bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto_bold/Roboto-Bold-webfont.eot');
    font-weight: 700;
    font-style: normal;

}
