    .briefing {
      margin : 20px 0;

    }
    h1 {
      text-align: center;
      margin-bottom: 0;
      font-size: 8pt;
    }
    h1 small{
    }
    main {
      width: 800px;
    }
    .container {
        padding: 20px 50px;
    }
    .hide-print {
        display: none;
    }
   .no-print{
	   display:none;
   }