// VISIONARY BASIC FRAMEWORK
@import "font-awesome/font-awesome";
@import "0.settings";
@import "1.pure";

// MOBILE-FIRST

//@import "2.base";
//@import "3.test-de-classement";

// TABLET (AND UP) OVERWRITES

@media (min-width: 40em) {
	//@import '4.tablet';
}

// DESKTOP (AND UP) OVERWRITES

@media (min-width: 60em) {
	//@import '5.desktop';
}


// PRINT VERSION

@media print {
	//@import '6.print';
}